<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>
<body>
    <form action="/<%= store._id %>?_method=POST" method="POST">
        Image URL: <input type="text" name="image_url" value="<%= store.image_url %>" />
        Descritpion: <input type="text" name="description" value="<%= store.description %>" />
        Title: <input type="text" name="title" value="<%= store.title %>" />
        Sizes: <input type="text" name="sizes" value="<%= store.sizes %>" />
        Price: <input type="text" name="price" value="<%= store.price %>" />
        <input type="submit" value="submit" />
    </form>
</body>
</html>