<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/style.css">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/header') %>
    <p>title: <%= store.title %></p>
    <p>Price: $<%= store.price %> </p>
    <div class='showContainer'>
        <img class="showImg" src='<%= store.image_url %>' />
        <p><%= store.description %> </p>
    </div>
    <form action="/<%=store._id%>/buy?_method=PUT" method="POST">
        <input type="submit" value="BUY" />
    </form>
    <input type="button" onclick="location.href='/'" value="back" />
</body>

</html>